<!DOCTYPE html>
{% load staticfiles %}
<html lang="english">
<head>
    <meta charset="utf-8">
    <title>
        Base
    </title>

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

        <!-- jQuery library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>

        <!-- Popper JS -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>

        <!-- Latest compiled JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>


</head>
<body>
        <nav class="navbar navbar-expand-sm bg-light navbar-light">
          <ul class="navbar-nav">
              <li><a class="navbar-brand" href="{% url 'event:list' %}">Event Info</a></li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'admin:index' %}">ADMIN</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#"></a>
            </li>
          </ul>
              <div class="navbar-nav">
              {% if user.is_authenticated %}
                <a class="nav-item nav-link" href="{% url 'profile' %}">Profile</a>
                <a class="nav-item nav-link" href="{% url 'logout' %}">Logout</a>
              {% else %}
                <a class="nav-item nav-link" href="{% url 'login' %}">Login</a>
                <a class="nav-item nav-link" href="{% url 'register' %}">Register</a>
              {% endif %}
         </div>
        </nav>
            <div class="container">
            {% block body_block %}
            {% endblock %}
            </div>
</body>
</html>